<div class="row">
    <div class="col-md-12">
        
        <div class="panel panel-default">
            <div class="panel-body">
               
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-search"></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Who are you looking for?"/>
                                
                            </div>
                        </div>
                        <div  *ngIf="isAdmin()" class="col-md-4">
                            <button class="btn btn-success btn-block" routerLink ="/addAdmin" routerLinkActive="active" style="background-color:#95b75d ;"><span class="fa fa-plus"></span> Ajouter un nouvel Utilisateur</button>
                        </div>
                    </div>
                </form>                                    
            </div>
        </div>
        
    </div>
</div>

<div class="row"  >
    <div class="col-md-3" *ngFor="let user of users" >
        <!-- CONTACT ITEM -->
        <div class="panel panel-default"   >
            <div class="panel-body profile">
                <div class="profile-image">
                    <img width="50px" height="130px"  [src]="user.imageUrl == 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png' ?'/assets/assets/images/users/no-image.jpg':'assets/assets/images/users'+ user.imageUrl" alt="Sorry for the image"/>
                    
                </div>
                <div class="profile-data">
                    <div class="profile-data-name"></div>
                    
                </div>
                <div class="profile-controls">
                    <a  *ngIf="isAdmin()" [routerLink]="['/editAdmin',user.id]" routerLinkActive="active" class="profile-control-left"><span class="fa fa-pencil"></span></a>
                    <a  *ngIf="isAdmin()" (click)="DeleteUser(user)" class="profile-control-right"><span class="fa fa-trash-o"></span></a>
                </div>
            </div>                                
            <div class="panel-body">                                    
                <div class="contact-info">
                    <p><small>Nom d'utilisateur</small><br/>{{user.username}}</p>
                    <p><small>Email</small><br/>{{user.email}}</p>
                    <p><small>Role</small><br/>{{user.role.nom}}</p>                                  
                </div>
            </div>                                
        </div>
        <!-- END CONTACT ITEM -->                      
</div>




