<div class="row">
    <div class="col-md-12">
        
        <form class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Modifier un utilisateur</strong> </h3>
                <ul class="panel-controls">
                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                </ul>
            </div>

            <div class="panel-body">                                                                        
                
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Nom d'utilisation</label>
                    <div class="col-md-6 col-xs-12">                                            
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-user"></span></span>
                            <input type="text" class="form-control" [(ngModel)]="currentUser.username" name="username" >
                        </div>                                            
                        
                    </div>
                </div>
                
                <div class="form-group">                                        
                    <label class="col-md-3 col-xs-12 control-label">Email</label>
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-envelope-o"></span></span>
                            <input type="email" class="form-control" [(ngModel)]="currentUser.email" name="email">
                        </div>            
                    </div>
                </div>

                <div class="form-group">                                        
                    <label class="col-md-3 col-xs-12 control-label">Mot de passe</label>
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                            <input type="password" class="form-control" [(ngModel)]="currentUser.password" name="password" >
                        </div>            
                    </div>
                </div>
                     
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Role</label>
                    <div class="col-md-6 col-xs-12"> 
                                                                                                                   
                        <select [(ngModel)]="currentUser.role" class="custom-select" name="role">
                            
                            <option disabled>--- Selectionnez un role ---</option>
                            <option *ngFor="let role of roles" [value]="role" > {{role}}</option>
                        </select>
                        
                       
                    </div>
                </div>   
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label"> upload image </label>
                    <div class="col-md-6 col-xs-12">                                                                                                                                        
                        <input type="file" accept="image/*" 
                               class="fileinput btn-primary" 
                               title="Browse file"
                               (change)="selectFile($event)"
                               />    <br> 
                        <img  [src]="imgURL" height="200" *ngIf="imgURL">
                        <br>
                        <img  
                        [src]="currentUser.imageUrl == 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png' ?'/assets/assets/images/users/no-image.jpg':'assets/assets/images/users'+ currentUser.imageUrl" 
                        height="200" *ngIf="!imgURL">
                    </div>
                </div>
            

            </div>
            <div class="panel-footer">
                                             
                <button type="submit"  (click)="updateUser()" class="btn btn-primary pull-right">Submit</button>
            </div>
        </div>
        </form>
        
    </div>
</div>                    




